{% extends 'template/main.html' %} 
{% load static %} 
{% block header %}
    <link rel="stylesheet" href="{% static '//css//landing.css' %}">
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script> -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
{% endblock %}
{% block content %}
    <style>
        #map {
            position: absolute;
            top: 0;
            z-index: -10;
            bottom: 0;
            width: calc(100vw - 50px);
            right: 0;
            height: 100vh;
        }
    </style>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = "{{ mapbox_access_token }}";

        const API_KEY = "{{ tomorrowio_api_key }}";

        // pick the field (like temperature, precipitationIntensity or cloudCover)
        const DATA_FIELD = 'precipitationIntensity';

        // set the ISO timestamp (now for all fields, up to 6 hour out for precipitationIntensity)
        const TIMESTAMP = (new Date()).toISOString();

        var latitude = 153.02207;
        var longitude = -27.46917;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;
            });
        }

        // initialize the map
        var map = (window.map = new mapboxgl.Map({
        container: 'map',
        zoom: 7,
        center: [latitude, longitude],
        style: 'mapbox://styles/nathan-perrier23/clqthibtm00ci01pp38f03g3w',
        antialias: true
        }));

        // inject the tile layer
        map.on('load', function() {
        map.addSource('tomorrow-io-api', {
            "type": 'raster',
            "tiles": [`https://api.tomorrow.io/v4/map/tile/{z}/{x}/{y}/${DATA_FIELD}/${TIMESTAMP}.png?apikey=${API_KEY}`],
            "tileSize": 256,
            "attribution": '&copy; <a href="https://www.tomorrow.io/weather-api">Powered by Tomorrow.io</a>'
        });
        map.addLayer({
            "id": "radar-tiles",
            "type": "raster",
            "source": "tomorrow-io-api",
            "minzoom": 1,
            "maxzoom": 12
        });
        });
    </script>



    <!-- <script>
        var mapStyle = [
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "saturation": 36
                    },
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 40
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#090909"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 21
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#110f0f"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#c3c3c3"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 19
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": "-77"
                    }
                ]
            }
        ];

        const API_KEY = "{{ tomorrowio_api_key }}";

        // pick the field (like temperature, precipitationIntensity or cloudCover)
        const DATA_FIELD = 'precipitationIntensity';

        // set the ISO timestamp (now for all fields, up to 6 hour out for precipitationIntensity)
        const TIMESTAMP = (new Date()).toISOString(); 
        
        var latitude = 153.02207;
        var longitude = -27.46917;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;
            });
        }

        // initialize the map
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: {
                    lat: latitude,
                    lng: longitude
                },
                styles: mapStyle,
                disableDefaultUI: true,
            
        });

        // inject the tile layer
        var imageMapType = new google.maps.ImageMapType({
            getTileUrl: function(coord, zoom) {
                if (zoom > 12) {
                    return null;
                }

                return `https://api.tomorrow.io/v4/map/tile/${zoom}/${coord.x}/${coord.y}/${DATA_FIELD}/${TIMESTAMP}.png?apikey=${API_KEY}`;
            },
            tileSize: new google.maps.Size(256, 256)
            });

            map.overlayMapTypes.push(imageMapType);
        }

    </script> -->
    {% include 'chatbot/chat.html' %}
{% endblock %}