:root {
    --primary: #144283;
    --secondary: #37883e;
    --light: #fff;
    --dark: #000;
}

body{
    background-color: var(--dark);
    overflow-x: hidden;
    width: 100vw;
    /* position: relative; */
}

.weather-app-padding-left{
    padding-left: 57px;
}


.weather-app-padding-right{
    padding-right: 57px;
}


.navbar-brand img{
     width: 100px;
}

.weather-app-row{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.weather-app-row .left{
    width: max-content
}
.weather-app-row .right{
    width: max-content
}

.weather-app-dropdown-box{
    display: none;
}

.weather-app-dropdown{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 9px !important;
}

.weather-app-dropdown-box .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.784);
    font-size: 9px !important;
    color: #fff !important;
    margin-left: -80px;
    border-top: 3px solid #fff;
    margin-top: 30px;
}

.weather-app-dropdown-box .dropdown-menu .dropdown-item{
     color: rgba(255, 255, 255, 0.646);
     text-align: center;
     width: 250px;
     font-size: 15px;
     padding: 10px 20px;
}

.weather-app-dropdown-box .dropdown-menu .dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0.133);
    color: #fff;
}

i{
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
}

.weather-app-profile{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}
.weather-app-nav{
    display: block ;
    align-items: center;
}

.weather-app-nav button{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.623);
    border: none;
    font-size: 13px;
}

.weather-app-nav button:hover{
    color: var(--light);
}

.hero-background {
    top: 0;
    margin-left: 50px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    height: 70vh;
    z-index: 10;
    position: relative;
}
.hero-header {
    width:40%;
    height: 70vh;
    z-index: 20;
    top: 0;
    background: var(--dark);
}
.hero-header .content{
    position: absolute;
    top: 0%;
    width: 100%;
    max-height: 100%;
    /* background-color: #fff; */
    z-index: 100;
    display: flex;
}

.hero-header .content .left{
    position: relative;
    top: 0%;
    width: 100%;
    max-height: 100%;
    /* background-color: #fff; */
    z-index: 100;
    display: block;
}

.datetime-divider {
    width: 62.5px; 
    height: 0px; 
    transform: rotate(90deg); 
    transform-origin: 0 0; 
    border: 1px var(--light) solid
}

.datetime {
    width: 116px; 
    height: 56px; 
    color: var(--light); 
    font-size: 20px; 
    font-family: Netflix Sans; 
    font-weight: 500; 
    word-wrap: break-word
}

.weather-app-home-video {
    width: 60%;
    max-height: 70vh;
    z-index: 10;
    top: 0;
    position: relative;
    object-fit: cover;
}

/* .weather-app-home-video .top{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(0, 0, 0));
} */

.weather-app-home-video .bottom {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--dark));
}

.weather-app-home-video .left {
    position: absolute;
    left: -100px;
    width: 200px;
    height: 100%;
    background: linear-gradient(to right, var(--dark), rgba(255, 255, 255, 0));
}

.weather-app-home-video .left-2 {
    position: absolute;
    left: -25;
    width: 75px;
    height: 100%;
    background: linear-gradient(to right, var(--dark), rgba(255, 255, 255, 0));
}

.weather-app-home-video img {
    z-index: -1;
    width: 100%;
    top: 0%;
    height: 70vh;
    object-fit: cover;
}

.weather-app-home-video video {
    z-index: -1;
    width: 100%;
    top: 0%;
    height: 100%;
    object-fit: cover;
}


.weather-app-home-video .content .left{
    margin-left: 80px;
}
.weather-app-home-video .content .left img{
   margin-top: 190px;
   
}
.weather-app-home-video .content .right{
    width: 50%;
}



.slider{
    position: absolute;
    top: 600px ;
    z-index: 500;
    /* margin-left: 80px; */
}



.slider2{
    position: absolute;
    top: 800px ;
    z-index: 500;
}

.slider3{
    position: absolute;
    top: 1000px ;
    z-index: 500;
}


.card{
    width: 250px;
    background-color: var(--dark);
    border-radius: 4px;
    transition: 0.2s linear;
    margin: 3px;
    position: relative;
}


.card:hover{
    transform: scaleX(1.4) scaleY(1.4);
    z-index: 10;
}


.card-body{
    display: none;
    /* height: 0px; */
    padding: 10px 15px;
    position: absolute;
    background-color: var(--dark);
    top: 120px;
    width: 100%;
}


.card-icon{
    color: var(--light);
    padding: 0px !important;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.card:hover > .card-body{
    display: block;
    /* height: max-content !important; */
}

.carousel-control-prev{
    display: none;
}

.carousel-control-next{
    display: none;
}

.tab-change-btn{
    border: none;
    width: 30px !important;
}


.margin-right{
    margin-right: 100px;
}

.weather-app-card-text{
    font-size: 12px ;
}

.position-slider2{
    top: 10px !important;
    position: absolute !important;
}

.margin-title2{
    margin-top: 33px;
}

.position-slider3{
    top: 10px !important;
    position: absolute !important;
}


.footer{
    margin-top: 150px;
    margin-bottom: 100px;
}

ul{
    list-style: none;
    font-size: 15px ;
    color: rgba(255, 255, 255, 0.367);
    font-weight: 100;
}


.service-btn{
    background-color: transparent;
     margin-left: 30px;
      color: rgba(255, 255, 255, 0.367);
      border: 1px solid rgba(255, 255, 255, 0.367);
      font-size: 15px;
      font-weight: 100;
}

.copy-right{
    font-size: 15px;
      font-weight: 200;
      color: var(--secondary);
      margin-left: 28px;
}

